.wrapper-form {

	width: 300px;
	height: 400px;
	margin: auto;
}


	/*LOGIN FORM*/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;

	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
}

/*HEADER*/

.login-form .header-forms {
	padding: 40px 30px 30px 30px;
}

.login-form .header-forms h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header-forms span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*CONTENT*/

.login-form .content-forms {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content-forms .input {
	width: 188px;
	padding: 15px 25px;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
}

/* Second input field */
.login-form .content-forms .password, .login-form .content-forms .pass-icon {
	margin-top: 25px;
}

.login-form .content-forms .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content-forms .input:focus {
	background: #dfe9ec;
	color: #414848;
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
}

/*FOOTER*/

.login-form .footer-forms {
	padding: 25px 30px 27px 30px;
	overflow: auto;

	background: #d4dedf;
	border-top: 1px solid #fff;
}

/* Login button */
.login-form .footer-forms .button {
	float:right;
	padding: 11px 25px;

	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
}

.login-form .footer-forms .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
}

.login-form .footer-forms .button:focus {
	position: relative;
	bottom: -1px;

	background: #56c2e1;
}

/* Register button */
.login-form .footer-forms .register {
	display: block;
	float: right;
	padding: 10px 5px 10px 0;
	margin-right: 55px;

	background: none;
	border: none;
	cursor: pointer;

	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer-forms .register:hover {
	color: #3f9db8;
}

.login-form .footer-forms .register:focus {
	position: relative;
	bottom: -1px;
}
