* {
  margin: 0;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  text-align: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
