
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(../images/bg.png) repeat;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
}

h1 {
	text-align: center;
}
